
{% extends "products/base.html" %}
{% load static %}
{% block content %}
<main role="main" class="container">
      
    <div class="row">
      <div class="col-md-8">

<div class="content-section" style="width: 800px;height: 400px;">
    <div class="media">
        <img class="rounded" src="{{info.thumbnail.url }}" style="padding-left: 20px;">
      <div class="media-body">
        <h2 class="account-heading" style="text-align: center;">{{ info.name}}</h2>
        <p class="text-secondary" style="text-align: center;height: 200px;">{{ info.description }}</p>

        <div class="row" style="text-align: center;">
            <div class="col-sm-4" style="text-align: center;">
                {% if info.available %}
             not available
            {% else %}
              available
              {% endif %}
            </div>
            <div class="col-sm-4">
              {{info.price}}
          
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-secondary">Secondary</button>      
              
            </div>
          </div>
      </div>
    </div>
</div>
        
</main>


   
  <div class="row wow fadeIn" style="width: 1000px;">

    {% for item in Product %}
    <div class="col-lg-3 col-md-6 mb-4" >

      <div class="card">

        <div class="view overlay">
          <a href="{% url 'products' id_produit=item.product_slug %}">
          <img src="{{ item.thumbnail.url }}" class="card-img-top">
          
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="card-body text-center">
         
          <h5>
            <strong>
              <a href="{% url 'products' id_produit=item.product_slug %}" class="dark-grey-text">
                <span class="badge badge-pill {{ item.get_label_display }}-color">{{ item.name }}</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>$
            
            {{ item.price }}
            
            </strong>
          </h4>

        </div>

      </div>

    </div>
    {% endfor %}
    <div class="col-lg-3 col-md-6 mb-4" >

    <div class="card">

      <div class="view overlay">
        <a href="{% url 'home' %}">
        <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c444.png" class="card-img-top">
        
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <div class="card-body text-center">
       
        <h5>
          <strong>
            <a href="{% url 'home' %}" class="dark-grey-text">
              <span class="badge badge-pill {{ item.get_label_display }}-color">{{ item.name }}</span>
            </a>
          </strong>
        </h5>

        <h4 class="font-weight-bold blue-text">
          <strong>
          
          more
          
          </strong>
        </h4>

      </div>

    </div>

  </div>
  </div>

{% endblock content %}